# Zavisnosti
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/build

# Produkcija
/dist

# Okruženje (tajne)
.env
.env*.local

# Logovi
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
*.swp

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
